<strong>Recuperando Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail {{ email }}. Se você não foi o autor dessa requisição

<p>Para continuar com a recuperação, utilize esse código para atualizar a senha {{ token }} ou clique no link abaixo </p>

<a href="{{link}}" style="background-color: #3351BA; height: 50px; color: #fff; border-radiur: 5px; width: 280px; text-decoration: none;">Criar nova senha</a>


